@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Colors */
    --color01: #010326;
    --color02: #024059;
    --color03: #F6F6FE;
    --color04: #F2B705;
    --color05: #E58900;

    /* Fonts */
    --font00: 'Nunito', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}
/* Body */
body{
    color: var(--color03);
    font-family: var(--font00);
    background-color: var(--color01);
    cursor: default;
}
/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    height: 30px;

    background-color: var(--color05);
}
    header h1{

    }
    header nav{
        display: flex;
    }
    nav a{
        color: inherit;
        margin-left: 10px;
        text-decoration: none;
    }

/* Section Container */
section#card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin: 10px;
}
/* Section */
section.card{
    display: flex;
    flex-direction: column;
    justify-content: start;

    width: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px 10px 80px 10px;

    color: #222;
    background-color: var(--color03);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.619);
}
    /* Imagem */
    picture img{
        width: 100%;
        border-radius: 10px;
        border: 2px solid var(--color05);
    }
   

/* Info */
.info-container{
}
    /* Titulo */
    .titulo{
        margin: 10px 0px;
        color: var(--color05);
        font-size: 1em;
    }

    /* BUTTON */
    .button{
        margin: 10px 0px;
        width: 100%;
        height: 50px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-weight: bolder;
        font-family: var(--font00);
        font-size: 1.2em;

        box-shadow: 0px 0px 5px #0103265a;
        color: var(--color03);
        background-color: var(--color05);
    }
    .button:hover{
        background-color: var(--color04);
    }

    .info-container p{
        margin-top: 10px;
        
    }
    .list{
        list-style: inside;
        margin-top: 10px;
    }
    strong{
        color: var(--color02);
    }
    
    